html {
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  background: linear-gradient(to bottom right, #f8f9fa, #e9ecef);
  padding: 0 15px;
}

.social-icons a {
  color: #0d6efd;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #0a58ca;
}
.nav-link:hover {
  color: #0d6efd !important;
}

